<div class="cell">
  <button mat-icon-button (click)="onEditClick()">
    <mat-icon>edit</mat-icon>
  </button>

  <button
    *hmdmHasPermission="'copy_config'"
    mat-icon-button
    (click)="onDeleteClick()"
    [disabled]="isDisabledDelete()"
  >
    <mat-icon>delete</mat-icon>
  </button>

  <button *hmdmHasPermission="'copy_config'" mat-icon-button (click)="onCopyClick()">
    <mat-icon>content_copy</mat-icon>
  </button>

  <div
    class="btn-wrapper"
    matTooltip="{{ 'error.invalid.configuration.mainApp' | translate }}"
    [matTooltipShowDelay]="300"
    [matTooltipDisabled]="isQrCodeAvailable()"
  >
    <button
      mat-icon-button
      (click)="onQrCodeClick()"
      *hmdmHasPermission="'enroll_devices'"
      [disabled]="!isQrCodeAvailable()"
    >
      <mat-icon>qr_code</mat-icon>
    </button>
  </div>
</div>
