:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.details {
  padding-bottom: 80px;

  &-bottom {
    position: fixed;
    bottom: 0px;
    right: 0;
    width: 100%;
    display: flex;
    gap: 16px;
    justify-content: flex-end;
    align-items: center;
    padding: 16px;
    padding-right: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 10;
  }
}
