<hmdm-dialog-template [title]="'dialog.admin.credentials.title' | translate">
  <div class="credentials">
    <div class="credentials-row">
      <span class="credentials-label">{{ 'form.user.login' | translate }}</span>
      <span class="credentials-value">{{ credentials.login }}</span>
    </div>
    <div class="credentials-row">
      <span class="credentials-label">{{ 'form.user.password' | translate }}</span>
      <span class="credentials-value">{{ credentials.password }}</span>
    </div>
  </div>

  <div dialog-actions class="dialog-actions">
    <button mat-button (click)="onCancel()">{{ 'button.close' | translate }}</button>
  </div>
</hmdm-dialog-template>
