:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.alerts {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 16px;
}

.card {
  &-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    gap: 16px;
  }

  &-content {
    margin-top: 16px;
    overflow: hidden;
  }
}
