:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.dashboard {
  display: flex;
  flex-direction: column;
  gap: 80px;

  &-title {
    font-size: 24px;
    line-height: 32px;
  }

  &-section {
    display: grid;
    grid-template-columns: minmax(0, 2fr) minmax(0, 5fr);
    gap: 16px;
    margin-bottom: 32px;
  }

  &-chart {
    width: 100%;
    height: 400px;
  }

  &-doughnut {
    display: block;
    width: 100%;
    height: 200px;
    margin-bottom: 16px;
  }

  &-bar {
    display: block;
    width: 100%;
    height: 350px;
  }

  &-summary {
    table {
      width: 80%;
      border-collapse: collapse;

      td {
        padding: 8px 0;

        &:first-child {
          padding-right: 16px;
          color: var(--mat-sys-on-surface);
        }

        &:last-child {
          font-weight: 500;
        }
      }

      .blue-value {
        color: #3b82f6 !important;
      }

      .red-value {
        color: #ff6363 !important;
      }

      .yellow-value {
        color: #eab308 !important;
      }
    }
  }
}
