<hmdm-dialog-template [title]="'form.password.title' | translate">
  <form class="password-form" [formGroup]="formGroup">
    @if (errorMessage()) {
      <div class="error-message">{{ errorMessage() | translate }}</div>
    }

    <hmdm-selector
      formControlName="userId"
      [label]="'form.password.label.user' | translate"
      [options]="userOptions()"
    ></hmdm-selector>

    <hmdm-text-input
      formControlName="newPassword"
      type="password"
      [label]="'form.password.label.password.new' | translate"
    ></hmdm-text-input>

    <hmdm-text-input
      formControlName="confirm"
      type="password"
      [label]="'form.password.label.password.confirm' | translate"
    ></hmdm-text-input>
  </form>

  <hmdm-dialog-common-buttons
    dialog-actions
    [isSaveDisabled]="isLoading()"
    (cancel)="onCancel()"
    (save)="onSave()"
  ></hmdm-dialog-common-buttons>
</hmdm-dialog-template>
